/*Body*/

body
{
  background-image: url(../../images/geometry2.png);
  background-repeat: repeat;
  font-family: 'maven_proregular';
  color: #4D4D4D;
}

@font-face {
    font-family: 'maven_problack';
    src: url('../../fonts/maven_pro_black-webfont.eot');
    src: url('../../fonts/maven_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/maven_pro_black-webfont.woff2') format('woff2'),
         url('../../fonts/maven_pro_black-webfont.woff') format('woff'),
         url('../../fonts/maven_pro_black-webfont.ttf') format('truetype'),
         url('../../fonts/maven_pro_black-webfont.svg#maven_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'maven_probold';
    src: url('../../fonts/maven_pro_bold-webfont.eot');
    src: url('../../fonts/maven_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/maven_pro_bold-webfont.woff2') format('woff2'),
         url('../../fonts/maven_pro_bold-webfont.woff') format('woff'),
         url('../../fonts/maven_pro_bold-webfont.ttf') format('truetype'),
         url('../../fonts/maven_pro_bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'maven_promedium';
    src: url('../../fonts/maven_pro_medium-webfont.eot');
    src: url('../../fonts/maven_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/maven_pro_medium-webfont.woff2') format('woff2'),
         url('../../fonts/maven_pro_medium-webfont.woff') format('woff'),
         url('../../fonts/maven_pro_medium-webfont.ttf') format('truetype'),
         url('../../fonts/maven_pro_medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'maven_proregular';
    src: url('../../fonts/maven_pro_regular-webfont.eot');
    src: url('../../fonts/maven_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/maven_pro_regular-webfont.woff2') format('woff2'),
         url('../../fonts/maven_pro_regular-webfont.woff') format('woff'),
         url('../../fonts/maven_pro_regular-webfont.ttf') format('truetype'),
         url('../../fonts/maven_pro_regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header
 {
  padding: 10px;
  border-bottom: solid 3px #E3462D;
  border-top: solid 3px #FBC700;
  background-image: url(../../images/imagenHeader-01.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
 }

 #page
 {
 	background-color: white;
  padding-bottom: 10px;
 }

 .fondoHome
 {
    background-image: url(../../images/back1-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
 }

.page-projects #main
{
  
}

.page-user #main
{
  
}

a
{
	text-decoration: none;
	color: #2B356A;
}

a:hover
{
	color: #E3462D;
}

#main-menu
{
	margin-left: -10px;
}

.region-sidebar-first
{
	background-color: #56ABDD;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.region-sidebar-second
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
}

#block-user-login
{
	background-color: #FBC700;
	padding: 1em;
	-webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
	margin:0;
  float: right;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 50;
  width: 200px;
}

#block-user-login h2.block__title, #block-user-login h2.block-title
{
  display: none;
  margin: 0;
}

#toboggan-login-link-container
{
  background-color: #56ABDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  padding: 0.5em;
  outline: solid 4px rgba(255,255,255,0.5);
}

#toboggan-login-link-container a
{
  color: white;E3462D
}

#toboggan-login-link-container a:hover
{
  color: #E3462D;
}

#block-user-login .item-list
{
  display: none;
}

button, input[type="submit"]
{
	background-color: #56ABDD;
	padding: 0.6em;
	outline: solid 4px rgba(255,255,255,0.5);
	border: none;
	color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

button:hover, input[type="submit"]:hover
{
	background-color: #E3462D;
}

.icoMisProyectos
{
	background: url(../../images/ejemplosIconos-01.png) no-repeat left top;
  	padding: 3px 0px 3px 35px;
  	/* reset styles (optional): */
  	list-style: none;
  	margin: 5px 0px 0px -20px;
    border-bottom: solid 1px #2B356A;
}

.icoInvitar
{
	background: url(../../images/ejemplosIconos-02.png) no-repeat left top;
  	padding: 3px 0px 3px 35px;
  	/* reset styles (optional): */
  	list-style: none;
  	margin: 5px 0px 0px -20px;
    border-bottom: solid 1px #2B356A;
}

.icoNuevoPro
{
	background: url(../../images/ejemplosIconos-03.png) no-repeat left top;
  	padding: 3px 0px 3px 35px;
  	/* reset styles (optional): */
  	list-style: none;
  	margin: 5px 0px 0px -20px;
    border-bottom: solid 1px #2B356A;
}

.icoAyuda
{
	background: url(../../images/ejemplosIconos-04.png) no-repeat left top;
  	padding: 3px 0px 3px 35px;
  	/* reset styles (optional): */
  	list-style: none;
  	margin: 5px 0px 0px -20px;
    border-bottom: solid 1px #2B356A;
}

.icoCerrar
{
	background: url(../../images/ejemplosIconos-05.png) no-repeat left top;
  	padding: 3px 0px 3px 35px;
  	/* reset styles (optional): */
  	list-style: none;
  	margin: 5px 0px 0px -20px;
}

#block-block-1
{
  background-color: #FBC700;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.bloqueUsuario
{
  background-color: #FCD300;
  height: auto;
  min-height: 110px;
  padding:10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.divUsuario
{
  width: 110px;
  height: 110px;
  float: left;
}

.divUsuario2
{
  width: 90px;
  height: 110px;
  float: left;
  font-size: 0.7em;
}

.divUsuario2 ul
{
  padding: 0;
  margin:40px 0px 0px 10px; 
}

.divUsuario2 ul li
{
  line-height: 1.3em;
  list-style-type: none;
}

td
{
  background-color: #56ABDD;
  color: white;
  line-height: 1.1em;
  border-right: thin solid #FCD300;
  padding: 0.4em;
  margin-bottom: 10px;
}

td a
{
  color: white;
}

td a:hover
{
  color: #E3462D;
}

td:last-child
{
  border:none;
}

#footer
{
  background-color: #2B356A;
  min-height: 100px;
}

.menuFooter
{
  width: 400px;
  height: auto;
}

.menuFooter li
{
  list-style-type: none;
  float: left;
  border-right: thin solid white;
  padding-right: 10px;
  margin-left: 10px;
}

.menuFooter li:last-child
{
  border:none;
}

.menuFooter li a
{
  color: white;
}

.menuFooter li a:hover
{
  color: #E3462D;
}

#user-register-form
{
  background-color: #FBC700;
  padding: 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
  outline: solid 4px rgba(255,255,255,0.5);
}

.personajeRegistro
{
  position: absolute;
  width: 75px;
  height: 140px;
  background-image: url(../../images/personaje1-01.png);
  top: 55px;
  right: 40px;
}

.logos
{
  width: 310px;
  height: 55px;
  float: right;
}

.cajaLogo1
{
  width: 155px;
  height: 55px;
  float: left;
  background-image: url(../../images/logoCier-01.png);
  background-repeat: no-repeat;
}

.cajaLogo2
{
  width: 155px;
  height: 55px;
  float: left;
  background-image: url(../../images/logoUnal-01.png);
  background-repeat: no-repeat;
}

tr
{
  background-color: #FBC700;
}

th
{
  border-right: thin solid #2B356A;
  padding: 0.3em;
}

th:last-child
{
  border: none;
}

/*MODULO PROYECTOS*/

.usuariosProyecto th
{
  padding: 0.5em;
}

tr
{
  border-bottom: 3px solid #FCD300;
}

.sticky-table
{
  clear: both;
}

.sticky-table th
{
  border-bottom:none;
  padding: 0.5em;
}

textarea
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.pane-stickynote-stickynote-block
{
  background-color: #BDCCD4;
  padding: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.pane-title
{
  float: right;
  margin: 0px -28px 5px 0px;
  display: block;
  background-image: url(../../images/badgeTitulos-01.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 56px;
  padding-left: 10px;
  color: white;
}

.note-1
{
  word-wrap: break-word;
}

.formularioAddUsuarios
{
  padding: 0.2em;
}

.formularioUsuariosProyecto
{
  background-color: #BDCCD4;
  padding: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.separarBoton
{
  margin-left: 10px;
}

input[type="email"]
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-collapse: collapse;
  padding: 0.2em;
  border: thin solid #CCCCCC;
}